body {
    font-family: sans-serif; 
    background-image: url("free_battle_1440.png") ;
}
h1 {
    margin: 0 ;
    padding: 0 ;
    font-size: 50px ;
    text-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black  ;
}

h2 {
    margin: 0 ;
    padding: 0 ;
    font-size: 40px ;
    color: #fffeed ;
    text-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black, 
    1px 1px 1px black  ;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 32px ;
    color: #fffeed ;
    text-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black  ;
}

h4 {
    margin: 0;
    padding: 0;
    /* font-size: 14px ; */
    color: #fffeed ;
    text-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black  ;
}

h5 {
    margin: 0;
    padding: 0;
    font-size: 16px ;
    color: #fffeed ;
    text-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black  ;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 14px ;
    color: #fffeed ;
    text-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black  ;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none ;
}
li {
    margin: 0;
    padding: 0 ;
    text-decoration: none ;
    list-style: none;
}


header {
    display: flex ;
    justify-content: center;
    margin: 35px ;
}

.rental-list-header {
    height: 80px ;
    width: 1290px ;
    box-sizing: border-box;
    background-color: #19249b ;
    border-radius: 15px ;
    border: 10px solid #6069e0 ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
    align-items: center;
    position: relative ;
}

.list-ball {
    position: absolute ;
    width: 115px ;
    height: 115px ;
    left: -55px ;
    top: -30px ;
}

.rental-list-header h1 {
    color: #ffff97 ;
    padding-left: 75px ;
}

.player-turn {
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    padding-right: 80px ;
}

.player-bubble {
    height: 80px ;
    width: 175px ;
    /* background-color: #505eff; */
    background: rgb(8,0,138);
    background: linear-gradient(313deg, 
    rgba(8,0,138,1) 
    0%, rgba(21,87,215,1) 54%);
    color: #ffe900 ;
    border-radius: 50% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    box-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black ;
    margin-right: 25px ;
}

h2.player-bubble {
font-size: 65px ;
}

.player-turn h2 {
    color: #ffe900 ;
}



.entry-pokemon {
    width: 1290px ;
    height: 225px ;
    border: 10px solid #fffeed ;
    border-radius: 10px ;
    box-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black ;
    background-color: #3139b2 ;
    display: flex ;
    flex-direction: row  ;
}

.trainer-square {
    height: 100% ;
    width: 290px ;
    background-color: #5e68de ;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trainer-square h2 {
    margin-top: 20px ;
}

.team-slot-container {
    height: 100% ;
    width: 1000px ;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "slot-1 slot-2 slot-3"
    "slot-4 slot-5 slot-6";
}

.team-slot-1 {
    grid-area: "slot-1" ;
    border: 1px solid black;
    background-color: #5e68de;
}
.team-slot-2 {
    grid-area: "slot-2" ;
    border: 1px solid black;
}
.team-slot-3 {
    grid-area: "slot-3" ;
    border: 1px solid black;
}
.team-slot-4 {
    grid-area: "slot-4" ;
    border: 1px solid black;
}
.team-slot-5 {
    grid-area: "slot-5" ;
    border: 1px solid black;
}
.team-slot-6 {
    grid-area: "slot-6" ;
    border: 1px solid black;
}

.box-bar {
    height: 45px ;
    width: 1260px ;
    margin-top: 50px ;
    margin-bottom: 25px ;
    border-radius: 10px ;
    border: 10px solid black;
    display: flex ;
    flex-direction: row ;
}

.box-bar h3 {
    height: 100% ;
    width: 90px ;
    background-color: #785502 ;
    color: #9e863e;
    display: flex; 
    align-items: center ;
    justify-content: center;
}

h3.box-pink {
    background-color: #db4fbb ;
    color: #ffdcff ;
}

.box-bar-selector {
    border: 8px solid #ffe164 ;
    height: 45px ;
    width: 90px ;
    position: absolute;
    display: none ;
}

.rental-list-container {
    height: 525px ;
    width: 1090px ;
    border: 10px solid #fffeed ;
    border-radius: 10px ;
    box-shadow: 0 0 1px black, 
    1px 0 1px black,
    0 1px 1px black,
    1px 1px 1px black ;
    position: relative;

}  

.scroll-bar {
    grid-area: scroll ;
    height: 525px ;
    width: 75px  ;
    background-color: #3139b2;
    border-right: 20px solid black;
    box-sizing: border-box;
    position: relative;
}

.scroll-bar-bar {
    height: 425px ;
    width: 40px ;
    background-color: #6069e0;
    border: 9px solid #838cf7 ;
    border-radius: 5px ;
    box-sizing: border-box;
    position: absolute ;
    bottom: 9px ;
    left: 9px ;
}

.scroll-bar-bar img {
    position: absolute ;
    top: -40px ;
    left: -30px ;

}

.rental-list-container-head {
    grid-area: heading ;
    height: 70px ;
    width: 1015px ;
    display: flex;
    justify-content: center ;
    align-items: center ;
    background-color: #bd439a ;
    position: absolute ;
    top: 0 ;
    left: 75px ;
}

.rental-list-list {
    grid-area: list ;
    height: 455px ;
    width: 1015px ;
    display: grid ;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    " rental-001 rental-002 rental-003"
    " rental-004 rental-005 rental-006"
    " rental-007 rental-008 rental-009"
    " rental-010 rental-011 rental-012"
    ;
    position: absolute ;
    bottom: 0 ;
    right: 0 ;
}

.rental-list-list li {

    box-sizing: border-box;
    background-color: #5e68de;
    display: flex;
    flex-direction: column ;
    align-items: left ;
    justify-content: center ;
    border: 1px solid black ;
    position: relative;
}

.rental-list-list li img {
    height: 100px ;
    width: 100px ;
    position: absolute ;
    left:  5px ;
}

.rental-list-list li h3 {
    position: relative ;
    left: 105px ;
}

#001 {
    grid-area: "rental-001"
}

#002 {
    grid-area: "rental-002"
}

#003 {
    grid-area: "rental-003"
}

#004 {
    grid-area: "rental-004"
}

#005 {
    grid-area: "rental-005"
}

#006 {
    grid-area: "rental-006"
}

#007 {
    grid-area: "rental-007"
}

#008 {
    grid-area: "rental-008"
}

#009 {
    grid-area: "rental-009"
}

#010 {
    grid-area: "rental-010"
}

#011 {
    grid-area: "rental-011"
}

#012 {
    grid-area: "rental-012"
}

#013 {
    grid-area: "rental-013"
}

#014 {
    grid-area: "rental-014"
}

#015 {
    grid-area: "rental-015"
}

#016 {
    grid-area: "rental-016"
}

#017 {
    grid-area: "rental-017"
}

@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 40px ;
    }
    h2 {
        font-size: 32px ;
    }
    h3 {
        font-size: 24px ;
    }

    header {
        margin: 25px 0 25px 0;
    }
    .rental-list-header {
        width: 900px ;
    }
    
    .entry-pokemon {
        width: 1000px ;
        height: 275px ;
        margin-bottom: 25px ;
        flex-direction: column  ;
    }
    
    .trainer-square {
        height: 50px;
        width: 1000px ;
        flex-direction: row ;
        align-items: center;
        justify-content: space-around ;
    }
    
    .trainer-square h2 {
       font-size: 24px;
       margin: 0 ;
    }
    
    .team-slot-container {
        height: 100% ;
        width: 1000px ;
        display: grid ;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas: 
        "slot-1 slot-2 slot-3"
        "slot-4 slot-5 slot-6";
    }
    
    .box-bar {
        display: none ;
    }

    .rental-list-container {
        height: 525px ;
        width: 1015px ;
    }  
    
    .scroll-bar {
    display: none ;
    }
    
    
    .rental-list-container-head {
        grid-area: heading ;
        height: 70px ;
        width: 1015px ;
        left: 0 ;
    }
    
    .rental-list-list {
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows:  1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        " rental-001 rental-002 rental-003"
        " rental-004 rental-005 rental-006"
        " rental-007 rental-008 rental-009"
        " rental-010 rental-011 rental-012"
        ;
    }
    
}

@media only screen and (max-width: 950px) {

    h1 {
        font-size: 24px ;
    }
    h2 {
        font-size: 24px ;
    }
    h3 {
        font-size: 18px ;
    }

    .rental-list-header {
        width: 80% ;
        margin: 2ch 0 0 0;
    }
    .rental-list-header img {
        height: 75px ;
        width: 75px ;
        top: -10px ;
    }

    .rental-list-header h1 {
        padding-left: 20px ;
    }
    
    .player-turn {
        padding-right: 0px ;
    }
    
    .player-bubble {
        height: 45px ;
        width: 90px ;
        margin-right: 5px ;
    }
    
    h2.player-bubble {
    font-size: 32px ;
    }


    .entry-pokemon {
        width: 75% ;
        height: 275px ;
        flex-direction: column  ;
        overflow: scroll;
    }
    
    .trainer-square {
        height: 100px ;
        width: auto ;
        display: grid ;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        justify-content: center;
        padding-left: 15% ;
        padding-right: 15%;
    }
    
    .trainer-square h2 {
       font-size: 18px;
       margin: 0 ;
    }
    
    .team-slot-container {
        height: auto;
        width: auto ;
        display: grid ;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3, 1fr )  ;
        grid-template-areas: 
        "slot-1 slot-2" 
        "slot-3 slot-4" 
        "slot-5 slot-6" ;
    }

    .team-slot {
        height: 115px;
    }
    
    .box-bar {
        display: none ;
    }

    .rental-list-container {
        height: 525px ;
        width: 75% ;
    }  
    
    
    .rental-list-container-head {
        width: 100% ;
    }
    
    .rental-list-list {
        width: 100%;
        overflow: scroll ;
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows:  repeat(6, 1fr) ;
        grid-template-areas: 
        "rental-001 rental-002" 
        "rental-003 rental-004" 
        "rental-005 rental-006"
        "rental-007 rental-008" 
        "rental-009 rental-010" 
        "rental-011 rental-012"
        ;

    }
    
    .rental-list-list li {
        height: 115px ;
        position: relative;
    }
    
    
}

@media only screen and (max-width: 650px) {

    h1 {
        font-size: 20px ;
    }

        
    .team-slot-container {
        height: auto;
        width: auto ;
        display: grid ;
        grid-template-columns:  1fr ;
        grid-template-rows: repeat(6, 1fr )  ;
        grid-template-areas: 
        "slot-1" 
        "slot-2" 
        "slot-3" 
        "slot-4" 
        "slot-5" 
        "slot-6" ;
    }

    .rental-list-list {
        grid-area: list ;
        width: 100%;
        overflow: scroll ;
        grid-template-columns:  1fr  ;
        grid-template-rows:  repeat(12, 1fr) ;
        grid-template-areas: 
        "rental-001" 
        "rental-002" 
        "rental-003" 
        "rental-004" 
        "rental-005" 
        "rental-006"
        "rental-007" 
        "rental-008" 
        "rental-009" 
        "rental-010" 
        "rental-011" 
        "rental-012"
        ;

    }

}





